services:
  sync:
    image: "ghcr.io/skiller-whale/learnersync:0.2.1"
    network_mode: "host"
    environment:
      SERVER_URL: "https://train.skillerwhale.com/"
      SW_RUNNING_IN_HOSTED_ENV:
      WATCHER_BASE_PATH: "/app/exercises"
      ATTENDANCE_ID_FILE: "/app/sync/attendance_id"
      WATCHED_EXTS: ".js .mjs .cjs .json .html"
      IGNORE_MATCH: ".git"
    volumes:
      - "./exercises:/app/exercises:ro"
      - "./attendance_id:/app/sync/attendance_id:ro"
    tty: true
    stdin_open: true
  javascript:
    image: "node:24-alpine"
    user: "node"
    working_dir: "/home/node/exercises"
    volumes:
      - "./exercises:/home/node/exercises"
    stdin_open: true
    tty: true
